@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import "../../abstracts//variables.scss";

.header {
  width: 100%;
  background-color: #ff9400;
  position: sticky;
  top: 0;
  z-index: 999;
  .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    .logo {
      font-family: "Bebas Neue", sans-serif;
      letter-spacing: 2px;
      font-size: 40px;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 25px;

      li a {
        text-decoration: none;
        color: #fff;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
      }
    }

    .search-bar {
      width: 350px;
      background-color: #fff;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 45px;

      input {
        width: 85%;
        outline: none;
        border: none;
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
      }

      .fa-search {
        margin-left: 5px;
        font-size: 16px;
        color: #6b6969;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: #ff9400;
        }
      }
    }
  }
}

@media (max-width: $laptop-breakpoint) {
  .header {
    .container {
      .logo {
        font-size: 30px;
      }
      .search-bar {
        width: 290px;
        height: 40px;
      }
    }
  }
}
@media (max-width: $tablet-breakpoint) {
  .header {
    .container {
      display: flex;
      flex-direction: column;
      .logo {
        font-size: 30px;
        padding-bottom: 10px;
      }
      .search-bar {
        width: 300px;
        height: 35px;

        .fa-search {
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: $small-breakpoint) {
  .header {
    .container {
      .search-bar {
        width: 280px;
        height: 35px;

        .fa-search {
          font-size: 14px;
        }
      }
    }
  }
}
